h1{
  color: #010101;
  font-family: Arial;
  text-align: center;
  padding-left: 10px;
}
h3{
 font-family: 'Myriad Pro';
 color:  #1f1f1f;
 font-size: 18px;
 margin-top: 20px;
}
 p{
 font-family: 'Myriad Pro';
 color:  #3b3b3b;
 padding-left: 35px;
}
a{
 padding-left: 35px;
}
li{
  font-family: 'Myriad Pro';
color:  #3b3b3b;
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
body{
  background: url(../img/back.jpg);
}
.wrapper{
	width: 600px;
	margin: auto;
}
.info{
  padding-top: 50px;
  border-bottom: 1px solid rgba(31, 31, 31, 0.22);
}
.photo{
  margin-top: 30px;
  margin-bottom: 24px;
  text-align: center;
}
.post{
  font-family: Arial;
  color: #1f1f1f;
  font-size: 14px;
  padding-left: 0px;
}
.point{
  border-bottom: 1px solid rgba(31, 31, 31, 0.22);
}
.soc{
  border-bottom: 1px solid rgba(31, 31, 31, 0.22);
  padding-bottom: 20px;
}
